.customFooter {
  background: radial-gradient(circle at center, #1e3a8a 0%, #0f172a 100%); /* Custom navy blue */
  position: relative; /* For positioning context */
  animation: pulseGlow 1.5s ease-in-out infinite; /* Apply pulsing glow */
}



@keyframes pulseGlow {
  0% {
    box-shadow: 0 2px 4px rgba(74, 222, 128, 0.2); /* Weak glow */
  }
  50% {
    box-shadow: 0 2px 12px rgba(74, 222, 128, 0.8); /* Strong glow */
  }
  100% {
    box-shadow: 0 2px 4px rgba(74, 222, 128, 0.2); /* Weak glow */
  }
}