.bubbleOpen {
  transform: translateX(0) scale(1);
  transform-origin: top right;
  animation: bubbleGrow 0.3s ease-in-out forwards;
}

.bubbleClosed {
  transform: translateX(100%) scale(0);
  transform-origin: top right;
}

@keyframes bubbleGrow {
  0% {
    transform: translateX(100%) scale(0);
  }
  50% {
    transform: translateX(50%) scale(0.5);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

.customRightbar {
  background-color: #13192e;  /* Custom teal */
}

@media (max-width: 767px) {
  .customRightbar {
    background-color: #1c1f44; /* Small screen color (e.g., teal-600) */
  }
}

.rainLine {
  position: absolute;
  width: 1px;
  height: 80px;
  background: linear-gradient(to bottom, rgba(0, 255, 0, 0), rgba(0, 255, 0, 0.7));
  animation: matrixRain 1s linear infinite;
  opacity: 0.5;
  pointer-events: none;
}

@keyframes matrixRain {
  0% {
    transform: translateY(-40px);
    opacity: 0.2;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: translateY(150%);
    opacity: 0.1;
  }
}

.rainEffect {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

@media (max-width: 767px) {
  .customRightbar {
    background-color: #1c1f44; /* Small screen color (e.g., teal-600) */
  }
}
