.sidebar {
  z-index: 50;
}

.bubbleOpen {
  transform: translateX(0) scale(1);
  transform-origin: top left;
  animation: bubbleGrow 0.3s ease-in-out forwards;
}

.bubbleClosed {
  transform: translateX(-100%) scale(0);
  transform-origin: top left;
}

@keyframes bubbleGrow {
  0% {
    transform: translateX(-100%) scale(0);
  }
  50% {
    transform: translateX(-50%) scale(0.5);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

.customSidebar {
  background-color: #13192e;  /* Custom dark gray */
}

@media (max-width: 767px) {
  .customSidebar {
    background-color: #1c1f44; /* Small screen color (e.g., teal-600) */
  }
}

.rainEffect {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

.rainLine {
  position: absolute;
  width: 1px;
  height: 80px;
  background: linear-gradient(to bottom, rgba(0,255,0,0), rgba(0,255,0,0.7));
  animation: matrixRain 3s linear infinite;
  opacity: 0.5;
  pointer-events: none;
}

@keyframes matrixRain {
  0% {
    transform: translateY(-40px);
    opacity: 0.2;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: translateY(150%);
    opacity: 0.1;
  }
}

@keyframes neonBlink {
  0%, 60%, 70%, 100% {
    color: white;
    text-shadow: none;
  }
  62%, 65%, 68% {
    color: #39ff14; /* neon-grönt */

  }
  63%, 66%, 69% {
    color: #000000; /* neon-rosa */

  }
}

.neonBlink {
  animation-name: neonBlink;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Hover: stoppa animation, ändra färg till limegrön */
.neonBlink:hover {
  animation: none !important;
  color: #18ff18 !important; /* limegrön */
  text-shadow: none !important;
}
